{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h1>Welcome to Shared Recipe Box</h1>
    <div class="d-grid gap-2 d-sm-flex mt-3 mb-3">
      <a href="{{ url_for('recipes.index') }}" class="btn btn-primary">All Recipes</a>
      {% if g.user %}
        <a href="{{ url_for('recipes.index', mine=1) }}" class="btn btn-outline-primary">My Recipes</a>
      {% else %}
        <a href="{{ url_for('auth.login') }}" class="btn btn-outline-primary">My Recipes</a>
      {% endif %}
    </div>
    {% if g.user %}
      <p>Hello, <strong>{{ g.user['username'] }}</strong>!</p>
      <div class="d-grid d-sm-inline-block">
        <a href="{{ url_for('recipes.create') }}" class="btn btn-success">Add Recipe</a>
      </div>
    {% else %}
      <div class="d-grid gap-2 d-sm-flex">
        <a href="{{ url_for('auth.register') }}" class="btn btn-primary">Register</a>
        <a href="{{ url_for('auth.login') }}" class="btn btn-outline-primary">Login</a>
      </div>
    {% endif %}
  </div>
{% endblock %}